# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore IntelliJ Project Files.
.idea
*.iml

# Ignore Build Areas
target

# Test KeyStore
.yourMicroservice-IdP.keystore